<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <button v-app-on:click="change2">Press ME</button>
                <p>{{ printMe }}</p>
                <button v-custom-on-simple="clicked" class="btn btn-primary">Course Click</button>
                <button v-custom-on-comp:click="clicked" class="btn btn-primary">Course Click</button>
                <div style="background-color: lightgreen; height:  100px; width: 100px"
                     v-custom-on-comp:mouseenter="mouseEnter"
                     v-custom-on-comp:mouseleave="mouseLeave"  ></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                tem : 'second',
                printMe : 'Initlal'
            };
        },
        directives : {
            //internet solution
            'app-on' :{
                bind (el, binding, vnode) {
                    const onclick = event => {
                        event.stopPropagation()
                        vnode.context.$emit(binding.expression, event)
                    }

                    el.addEventListener('click', binding.value)
                }
            },
            //course solution
            customOnSimple: {
                bind(el, binding){
                    el.onclick = function () {
                        binding.value();
                    }
                }
            },
            customOnComp: {
                bind(el, binding){
                    const type = binding.arg;
                    const fn = binding.value;
                    el.addEventListener(type, fn);
                }
            }
        },
        methods :{
            change2(){
                let newPhrase = this.tem;
                this.tem = this.printMe;
                this.printMe = newPhrase;
            },
            clicked(){
                alert('i was clicked');
            },
            mouseEnter(){
                console.log("im in");
            },
            mouseLeave(){
                console.log("im out");
            }
        }
    }
</script>

<style>
</style>
